@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 210 100% 95%;
  --foreground: 214 60% 20%;
  --muted: 210 30% 92%;
  --muted-foreground: 214 40% 40%;
  --popover: 210 100% 95%;
  --popover-foreground: 214 60% 20%;
  --card: 210 30% 97%;
  --card-foreground: 214 60% 20%;
  --border: 210 20% 90%;
  --input: 210 20% 90%;
  --primary: 214 80% 65%;
  --primary-foreground: 0 0% 100%;
  --secondary: 190 80% 80%;
  --secondary-foreground: 214 60% 25%;
  --accent: 230 80% 80%;
  --accent-foreground: 230 40% 20%;
  --destructive: 0 60% 75%;
  --destructive-foreground: 0 0% 100%;
  --ring: 214 80% 65%;
  --radius: 0.5rem;
  }
  .dark {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;
  --muted: 217 33% 17%;
  --muted-foreground: 215 20% 65%;
  --popover: 222 47% 11%;
  --popover-foreground: 210 40% 98%;
  --card: 222 47% 11%;
  --card-foreground: 210 40% 98%;
  --border: 217 33% 17%;
  --input: 217 33% 17%;
  --primary: 221 83% 53%;
  --primary-foreground: 210 40% 98%;
  --secondary: 217 33% 17%;
  --secondary-foreground: 210 40% 98%;
  --accent: 217 91% 60%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --ring: 224 76% 48%;
  --radius: 0.5rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}